* {
  margin: 0;
  padding: 0;
}

.header-wrapper {
  width: 100%;
  height: 750px;
  background-image: url("../../assest/images/modelos-ropa4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header-wrapper .intro {
  position: relative;
  top: 200px;
}
.header-wrapper .intro .text {
  text-align: center;
}
.header-wrapper .fixed {
  position: fixed;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.header-wrapper .fixed #nav-header-link {
  color: black;
}
.header-wrapper .fixed .carrito {
  color: black;
}
.header-wrapper .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
}
.header-wrapper .menu .nav-bar .option-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.header-wrapper .menu .nav-bar .option-menu .logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.header-wrapper .menu .nav-bar .option-menu .option {
  text-align: center;
  list-style: none;
}
.header-wrapper .menu .nav-bar .option-menu .option a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header-wrapper .menu .nav-bar .option-menu .option a:hover {
  text-decoration: underline;
}
.header-wrapper .menu .nav-tools .tools-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 0;
  gap: 1rem;
}
.header-wrapper .menu .nav-tools .tools-list .carrito .boton-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}
.header-wrapper .menu .nav-tools .tools-list .boton-dark-mode .dark-mode-logo {
  background: none;
  border-style: none;
}

.links, .links .options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
}
.links .options {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.links .options .social-media-logo {
  font-size: 1.5em;
  padding: 1rem;
}

main .productos {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}
main .productos .section-header {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}
main .productos .card-container {
  display: flex;
}
main .productos .card-container .card {
  border-style: none;
  margin-right: 1rem;
}
main .productos .card-container .card:hover {
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}
main .productos .card-container .card:hover .info-producto .link-producto {
  visibility: visible;
}
main .productos .card-container .card .card-img img {
  height: 280px;
  width: 280px;
}
main .productos .card-container .card .info-producto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
main .productos .card-container .card .info-producto .precio-producto p {
  margin-bottom: 0;
}
main .productos .card-container .card .info-producto .link-producto {
  visibility: hidden;
  width: 100%;
  margin-bottom: 20px;
}
main .productos .card-container .card .info-producto .link-producto a {
  text-decoration: none;
  color: black;
}
main .productos .card-container .card .info-producto .link-producto a:hover {
  color: blue;
}
main .categorias {
  height: 1000px;
  width: 1050px;
  margin: 0 auto;
  margin-bottom: 4rem;
}
main .categorias .cat-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "head head head" "buzos buzos remeras" "buzos buzos remeras" "buzos buzos gorros" "buzos buzos gorros";
}
main .categorias .cat-container .section-header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
main .categorias .cat-container .cat1, main .categorias .cat-container .cat2, main .categorias .cat-container .cat3 {
  grid-area: buzos;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  background-image: url(../../../../assest/images/buzo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .categorias .cat-container .cat1:hover, main .categorias .cat-container .cat2:hover, main .categorias .cat-container .cat3:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
main .categorias .cat-container .cat1 .info-extra, main .categorias .cat-container .cat2 .info-extra, main .categorias .cat-container .cat3 .info-extra {
  position: relative;
  left: 100px;
  top: 300px;
}
main .categorias .cat-container .cat2, main .categorias .cat-container .cat3 {
  grid-area: remeras;
  margin-bottom: 10px;
  background-image: url(../../../../assest/images/remeras1.jpg);
}
main .categorias .cat-container .cat2:hover, main .categorias .cat-container .cat3:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
main .categorias .cat-container .cat2 .info-extra, main .categorias .cat-container .cat3 .info-extra {
  position: relative;
  left: 30px;
  top: 150px;
}
main .categorias .cat-container .cat3 {
  grid-area: gorros;
  margin-top: 10px;
  background-image: url(../../../../assest/images/gorras2.jpg);
}
main .categorias .cat-container .cat3:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}
main .categorias .cat-container .cat-info {
  position: relative;
  top: 40px;
  left: 20px;
  background-color: #fff;
  font-size: 1.5em;
  padding: 1rem;
}
main .categorias .cat-container .info-extra {
  display: inline;
  position: relative;
  top: 150px;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
