.links{
    @include flex(row, center, center);
    background-color: gray;
    .options{
        @extend .links;
        width: 100%;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        .social-media-logo{
            font-size: 1.5em;
            padding: 1rem;
            a{
                color: white;
            }
        }
    }
}