main{
    .dark-mode{
        background-color: #1c1c1c;
        p{
            color: white;
        }
        h3{
            color: white;
        }
        h4{
            color: white;
        }
        .card-container{
            .card{
                background-color: #1c1c1c;
                .info-producto{
                    .link-producto{
                        a{
                            color: #fff;
                            &:hover{
                                color: chartreuse;
                            }
                        }
                    }
                }
            }
        }
    }
    .card-container{
        @include flex(row, space-around, center);
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        .card{
            border-style: none;
            margin-right: 1rem;
            
            @include mobile(){
                width: 80%;
                margin: 0 auto;
            }
            &:hover{
                transform: scale(1.20,1.20);
                transition: 0.5s;
                .info-producto{
                    .link-producto{
                        visibility: visible;
                    }
                }
            }
            .card-img{
                img{
                    @include img-size-card(280px, 100%);
                }
            }
            .info-producto{
                width: 100%;
                @include flex(column, center, start);
                .precio-producto{
                    p{
                        margin-bottom: 0;
                    }
                }
                .link-producto{
                    visibility: hidden;
                    @include tablet(){
                        visibility: visible;
                    }
                    width: 100%;
                    margin-bottom: 20px;
                    a{
                        text-decoration: none;
                        color: black;
                        &:hover{
                            color: blue;
                        }
                    }
                }
            }
        }
    }

    .cat-container{
        height: 700px;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        
        'buzos buzos remeras'
        'buzos buzos gorros'
        ;
        @include tablet(){
            height: 500px;
            width: 80%;
            margin: 0 auto;
        }
        @include mobile(){
            @include flex(column, center, center);
            height: 800px;
            width: 90%;
            margin: 0 auto;
        }
        .cat1{
            grid-area: buzos;
            text-decoration: $list-style;
            color: #000;
            margin-right: 20px;
            @include background-img(url('../../assest/images/buzo3.jpg'), no-repeat, cover, center);
            @include mobile(){
                height: 100%;
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.5s;
            }
            .info-extra{
                position: relative;
                text-align: center;
                @include tablet(){
                    display: none;
                }
            }
        }
        .cat2{
            grid-area: remeras;
            margin-bottom: 10px;
            margin-right: 0;
            background-image: url('../../assest/images/remeras1.jpg');
            @extend .cat1;
            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.5s;
            }
            .info-extra{
                position: relative;
                left: 0px;
                top: 150px;
                @include tablet(){
                    display: none;
                }
            }
        }
        .cat3{
            grid-area: gorros;
            margin-top: 10px;
            margin-bottom: 0;
            background-image: url('../../assest/images/gorras2.jpg');
            @extend .cat2;
            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.5s;
            }
        }
        .cat-info{
            position: relative;
            top: 40px;
            left: 20px;
            background-color: #fff;
            font-size: 1.5em;
            padding: 1rem;
            @include tablet(){
                font-size: 1em;
                position: initial;
            }
        }
        .info-extra{
            display: inline;
            position: relative;
            top: 150px;
            color: #fff;
        }
    }
}